@import 'src/styles/colors';

:host {
  display: inline-block;

  path {
    fill: $gray70;
  }

  circle[fill] {
    fill: $gray70;
  }

  &.white {
    path {
      fill: $white;
    }

    circle[fill] {
      fill: $white;
    }
  }
}
