@import './colors';

table {
  width: 100%;
}

svg {
  display: block;
}

a {
  color: $black;

  &:hover {
    color          : $blue50;
    text-decoration: underline;
  }

  &:active {
    color: $black;
  }
}

.fit-content {
  min-width: 1px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.filterBar {
  // background   : $gray20;
  padding         : 7px;
  // border-radius: 4px;
  margin-top      : 9px;
  margin-bottom   : 9px;
}

.icon {
  vertical-align: bottom;

  &+& {
    margin-left: 0.625rem;
  }
}

.button-icon {
  cursor       : pointer;
  border-radius: 6px;
  padding      : 0.35rem;

  &:hover {
    background-color: $gray20;
  }
}

// .white-background-icon {
//   cursor: pointer;
//   background-color: $white;
//   border-radius: 6px;
//   padding: 0.375rem;
//   margin-right: 0.75rem;
// }

.inactive-icon {
  cursor: not-allowed;

  svg {
    pointer-events: none;
  }
}

// .small-icon {
//   svg {
//     width: 1rem;
//     height: 1rem;
//   }
// }

// .agm-info-window-content {
//   color: $gray100;
// }

// .menuContainer {
//   border: 1px solid;
//   padding: 0.25rem;

//   .mat-menu-item {
//     background: $blue50;
//     border-radius: 4px;

//     & + .mat-menu-item {
//       margin-top: 0.5rem;
//     }

//     &:hover:not([disabled]) {
//       background: $blue60;
//     }
//   }
// }
