@import 'src/styles/colors';

:host {
  display: block;
  padding-top: 1.5rem;
  padding-left: 0.625rem;
}

ul {
  margin-left: 20px;
  list-style : none;
  display    : flex;
}

li {
  pointer-events: none;
  text-transform: capitalize;

  &:not(:last-of-type) {
    pointer-events: initial;

    a {
      color          : $blue50;
      text-decoration: underline;
    }
  }

  &+& {
    margin-left: 0.75rem;

    &::before {
      content     : '/';
      display     : inline-block;
      margin-right: 0.75rem;
    }
  }
}
