@import 'src/styles/colors';

:host {
  display: block;
}

header {
  background-color: $white;
  border-radius: 0px;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
}

nav {
  margin: 0 auto;
  align-self: stretch;
  font-size: 0.875rem;

  a {
    color: $gray70;
    padding: 1.25rem 0.75rem 1rem;
    display: inline-block;
    border-bottom: 3px solid transparent;

    &.active {
      // color: $gray70;
      background-color: $gray20;
      border-bottom-color: $blue50;
    }

    span {
      margin-left: 0.375rem;
    }
  }
}

.notification {
  position: relative;
  padding: 0.4375rem;
  display: inline-block;
  cursor: pointer;
}

.badge {
  color: $white;
  background-color: $notification_badge;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 2px;
  font-size: 0.875rem;
  text-align: center;
  vertical-align: middle;
}

.userInfoBlock {
  display: flex;
  align-items: center;
}

.logoutIcon {
  cursor: pointer;
}
