@import 'src/styles/colors';

:host {
  display: block;
  height : 100vh;
}

mat-toolbar {
  background : $gray90;
  color      : $white;
  font-size  : 16px;
  height     : 128px;
  align-items: normal;

  &>* {
    height     : 64px;
    align-items: center;
  }

  .org {
    margin-left: auto;
  }

  .r-btn {
    display        : flex;
    justify-content: center;
  }

  @media screen and (max-width: 920px) {
    padding: 0 10px;

    .org {
      position   : absolute;
      top        : 64px;
      right      : 0;
      left       : 0;
      margin-left: 0;
    }

    app-header-logo {
      margin-right: auto;
    }
  }

}

@media screen and (min-width: 921px) {
  mat-toolbar {
    height: 64px;
  }
}

.mat-icon-button svg {
  vertical-align: middle;
}

mat-sidenav {
  margin       : 16px;
  width        : 200px;
  height       : auto;
  background   : $gray70;
  color        : $white;
  border-radius: 10px;
  padding      : 16px;

  a {
    color: $white;

    &:hover {
      color          : $white;
      text-decoration: none;
    }

    &:active {
      color: $white;
    }
  }

  .mat-button {
    width     : 100%;
    text-align: left;

    &:hover {
      background: $gray60;
    }
  }

  .list-item-active {
    background: $gray60;
  }

  span {
    padding-left: 10px;
  }
}

mat-sidenav-container {
  height: calc(100vh - 65px);

  .content {
    // height       : calc(100vh - 165px); 先關閉麵包屑
    min-height      : calc(100vh - 125px);
    // overflow     : auto;
    border-radius   : 10px;
    margin          : 16px;
    margin-left     : 32px;
  }


  @media screen and (max-width: 920px) {
    .content {
      min-height: calc(100vh - 165px);
      height    : auto;
    }
  }
}

footer {
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-size      : 0.75rem;
  margin-top     : 10px;
  color          : $gray80;

  span {
    margin-left: 0.75rem;
  }
}
