@import 'src/styles/colors';

:host {
  display: block;
  height : 100vh;
}

mat-toolbar {
  background : $gray90;
  color      : $white;
  font-size  : 16px;
  height     : 128px;
  align-items: normal;

  &>* {
    height     : 64px;
    align-items: center;
  }

  .org {
    margin-left: auto;
  }

  .r-btn {
    display        : flex;
    justify-content: center;
  }

  @media screen and (max-width: 920px) {
    padding: 0 10px;

    .org {
      position   : absolute;
      top        : 64px;
      right      : 0;
      left       : 0;
      margin-left: 0;
    }

    app-header-logo {
      margin-right: auto;
    }
  }

}

@media screen and (min-width: 921px) {
  mat-toolbar {
    height: 64px;
  }
}

.mat-icon-button svg {
  vertical-align: middle;
}

footer {
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-size      : 0.75rem;
  margin-top     : 10px;
  color          : $gray80;

  span {
    margin-left: 0.75rem;
  }
}
