@import 'src/styles/colors';

:host {
  display: block;
  background-color: $gray30;
  min-height: 100%;
  // color: $white;
  padding: 0rem 0rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 1.5rem;
  color: $gray80;

  span {
    margin-left: 0.75rem;
  }
}
