<!-- Header -->
<mat-toolbar>
  <!-- logo -->
  <app-header-logo></app-header-logo>
  <!-- 切換組織 -->
  <button mat-button class="org" (click)="openDialogOrganization()">
    {{filterOrganization$ | async}}
  </button>
  <!-- TODO::Notification
    <button class="r-btn" mat-button [matMenuTriggerFor]="Notification">
    <app-notification-icon class="white"></app-notification-icon>
  </button>
  <mat-menu #Notification="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu> -->
  <!-- 個人資訊 -->
  <button class="r-btn" mat-button [matMenuTriggerFor]="Profile">
    <app-account-circle-icon class="white"></app-account-circle-icon>
  </button>
  <mat-menu #Profile="matMenu" xPosition="before">
    <!-- <button mat-menu-item>Item 1</button>
    <mat-divider></mat-divider> -->
    <button mat-menu-item (click)="clickLogout()">登出</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- footer -->
<footer>
  <span>© 2021 Singular Wings - All rights reserved</span>
</footer>

<!-- spinner -->
<app-spinner></app-spinner>
